<div class="meetups-index">
  <h1 class=indexTitle>Meetups Near You</h1>
  <a href="/meetups/new" class="button">Create Meetup</a>

  <!-- <%= flash[:notice] %> -->
  <ul>
    <% @meetups.each do |meetup| %>
    <li class="meetup-link">
      <%= link_to meetup.name, meetup_path(meetup) %>
    </li>
    <% end %>
  </ul>
</div>
