<div class="meetups-index">
  <h2 class=indexTitle>Meetups Near You</h2>

  <ul>
    <% @meetups.each do |meetup| %>
    <li class="meetup-link" >
<h4><%= link_to meetup.name, meetup_path(meetup) %></h4><br>
    </li>
    <% end %>
  </ul>
</div>
