<h1>Upcoming Meetups</h1>
<a href="/meetups/new" class="button">Create Meetup</a>
<p>
  <%= @message %>
</p>
<!-- <%= flash[:notice] %> -->
<ul>
  <% @meetups.each do |meetup| %>
  <li class="meetup">
    <a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a>
  </li>
  <% end %>
</ul>
