<h3>Create New Meetup</h3>
<%= render 'form' %>
<div id="map"></div>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_PLACES_API_KEY'] + "&libraries=places&callback=initMap" %>
