<div class="">
  <div class="">

    <h1>  <%= @meetup.name %></h1>
    <%= @meetup.location %>
    <br>
  </div>
  <div class="">

    Description: <%= @meetup.description %>
  </div>
Attendees:
</div>
