<h2><%= @user.first_name %>'s Dogs:</h2>
<% @user.dogs.each do |dog| %>
<h3><%= dog.dog_name %></h3>

<div class="dog-prof-boxes">
  <div class="disp-inline">
    <h2> <%= "#{@dog_name}" %> </h2>
  </div>
</div>
<% end %>
<% if @dog.nil? %>
<h3>Add your dog!</h3>
<% else %>
<h4>Have more dogs? Add them!</h4>
<% end %>
<%= render 'form' %>
